<div class="container">

	<div class="row">
		<div class="col-md-12">


				<!-- Slider Starts -->
				<div class="banner">

				</div>
				<!-- #Slider Ends -->

		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
						<h1 class="animated bounceInUp">{{homemes}}</h1>
						<p class="animated bounceInLeft">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
					</div>
				</div>
			</div>
		</div>

</div>