<div class="jumbotron text-center">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#menu">Regular Menu</a></li>
					<li><a data-toggle="tab" href="#special">Specials</a></li>
				</ul>

			</div>
		</div>
	</div>

	<div class="tab-content">
		<div id="home" class="tab-pane fade in active">
			<h1> {{regmenu}} </h1>

			<div ng-controller="itemController as list">
				<div ng-repeat="i in items"
					 ng-if="cart.length==0"
					 ng-init="open()">

				</div>

				<div class="container">

					<div class="row">
						<div class="col-md-12">
							<h2 align="left" class="col-md-12"> Chips </h2>
							<div ng-repeat="chip in chips">
								<div class="col-sm-6 col-md-4">
									<div class="thumbnail">
										<img src="images/reg-menu/chips1.png" alt="chips">
										<h3 class="priceoverlay">€{{chip.price}} </h3>
										<div class="caption">
											<h3>{{chip.name}}</h3>
											<p><a  class="btn btn-success" role="button"  ng-click = "addToCart(chip)">Add to Cart</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>




					<div class="row">
						<div class="col-md-12">
							<h2 align="left" class="col-md-12"> Sausages </h2>
							<div ng-repeat="sausage in sausages">
								<div class="col-sm-6 col-md-4">
									<div class="thumbnail">
										<img src="images/reg-menu/sausage_2.png" alt="sausages">
										<h3 class="priceoverlay">€{{sausage.price}} </h3>
										<div class="caption">
											<h3>{{sausage.name}}</h3>
											<p><a  class="btn btn-success" role="button"  ng-click = "addToCart(sausage)">Add to Cart</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<h2 align="left" class="col-md-12"> Burgers </h2>
							<div ng-repeat="burger in burgers">
								<div class="col-sm-6 col-md-4">

									<div class="thumbnail">
										<img src="images/reg-menu/burger.png" alt="burgers">
										<h3 class="priceoverlay">€{{burger.price}} </h3>
										<div class="caption">
											<h3>{{burger.name}}</h3>
										<p><a  class="btn btn-success" role="button"  ng-click = "addToCart(burger)">Add to Cart</a></p>

										</div>
									</div>


								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<h2 align="left" class="col-md-12"> Chicken </h2>
							<div ng-repeat="chicken in chickens">
								<div class="col-sm-6 col-md-4">
									<div class="thumbnail">
										<img src="images/reg-menu/chicken.jpg" alt="chicken">
										<h3 class="priceoverlay">€{{chicken.price}} </h3>
										<div class="caption">
											<h3>{{chicken.name}}</h3>
											<p><a  class="btn btn-success" role="button"  ng-click = "addToCart(chicken)">Add to Cart</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-12">
							<h2 align="left" class="col-md-12"> Fish </h2>
							<div ng-repeat="fish in fishs">
								<div class="col-sm-6 col-md-4">
									<div class="thumbnail">
										<img src="images/reg-menu/plaice.jpg" alt="fish">
										<h3 class="priceoverlay">€{{fish.price}} </h3>
										<div class="caption">
											<h3>{{fish.name}}</h3>
											<p><a  class="btn btn-success" role="button"  ng-click = "addToCart(fish)">Add to Cart</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>




				</div>
			</div>
		</div>


		<div id="special" class="tab-pane fade">
			<h3>Menu 1</h3>
			<p>Some content in menu 1.</p>
		</div>
		<!--special goes here-->

	</div>
</div>